/*
Syntax error: File to import not found or unreadable: bourbon/bourbon.
              Load paths:
                /Users/aluisioazevedo/Projects/rubyonrio.github.com/sass
                /Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 2 of /Users/aluisioazevedo/Projects/rubyonrio.github.com/sass/core.scss

1: /Users/aluisioazevedo/Projects/rubyonrio.github.com/sass/core.scss

Backtrace:
/Users/aluisioazevedo/Projects/rubyonrio.github.com/sass/core.scss:2
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/import_node.rb:45:in `import'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/tree/root_node.rb:20:in `render'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/engine.rb:315:in `_render'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/sass-3.2.13/lib/sass/engine.rb:262:in `render'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:68:in `perform'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/bin/compass:23:in `load'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/bin/compass:23:in `<main>'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/bin/ruby_executable_hooks:15:in `eval'
/Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bourbon/bourbon.\A               Load paths:\A                 /Users/aluisioazevedo/Projects/rubyonrio.github.com/sass\A                 /Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Users/aluisioazevedo/.rvm/gems/ruby-2.1.0@rubyonrio/gems/compass-0.12.2/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 2 of /Users/aluisioazevedo/Projects/rubyonrio.github.com/sass/core.scss\A \A 1: /Users/aluisioazevedo/Projects/rubyonrio.github.com/sass/core.scss"; }
