* {
  font-family: 'Roboto Slab', serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-size: 1.2em;
}

.centralized {
  margin: 0 auto;
  max-width: 960px;
}

header {
  border-top: 5px solid #A40C01;
  padding: 15px;
}

a, a:active {
  color: #A40C01;
}

a:hover {
  opacity: 0.8;
}

article {
  margin: 10px 0;
  padding: 5px 15px;
  border-radius: 5px;
}

p {
  margin-bottom: 10px;
}

.next-meetup {
  background-color: #bf544c;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em
}

.next-meetup p {
  font-weight: 300;
}

.next-meetup p i {
  vertical-align: middle;
}

.about {
  border: 1px solid #ccc;
}

footer {
  padding-bottom: 10px;
  text-align: center;
  font-weight: 300;
  font-size: .8em;
}