@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,400|Open+Sans:400italic,600italic,400,600);

body, h1, h2, h3, h4,
form, fieldset, input, label, p,
em, strong, a, img, ul, li {
  vertical-align: baseline;
  font-style: normal;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}

header, footer, aside, nav, article, section { display:block; }

html { font-size: 62.5%; }

body {
  vertical-align: baseline;
  background: #f3f3f3;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 12px;
  color: #5f5f5f;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Raleway', sans-serif; }

p { margin:0 0 20px 0; }

a.b {
  padding: 10px 35px 10px;
  background: #ff3333;
  border: none;
  border-bottom: 1px solid #df1515;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.15em;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #fff;

  &:hover { background: #F02424; }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.containner {
  width: 980px;
  margin: auto;
}


/* ============================================*/


header {
  overflow: auto;
  background: #fff;
  height: 80px;
  border-bottom: 1px solid #e8e8e8;

  .logo {
    margin-top: 5px;
    width: 100px;
    float: left;
  }

  nav {
    float: right;
    margin: 30px 10px 0 0;
    text-align: right;

    a {
      margin-left: 15px;
      color: #ff3333;
      font-size: 1.15em;
      font-weight: 500;
      text-decoration: none;

      &:hover { color: #F02424; }
    }
  }
}


.hero {
  overflow: auto;
  margin-top: 40px;
  background: #ff3333;
  border-radius: 3px;
  color: #fff;

  section.intro, article.next-meetup {
    height: 300px;
    float: left;
  }

  section.intro {
    width: 60%;
    padding: 40px 30px;
    background: url("/img/pattern3.png");

    h2 {
      padding-top: 30px;
      font-weight: 500;
      font-size: 3.2em;
      line-height: 1.6em;
      letter-spacing: 0.02em;
    }
  }

  article.next-meetup {
    width: 40%;
    padding: 30px 0;
    border-left: 1px solid #F02424;

    .title {
      h2 {
        width: 90%;
        float: right;
        padding: 15px 20px;
        border-radius: 2px 0 0 2px;
        background: #fff;
        text-align: left;
        font-size: 1.6em;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #FF3333;
      }
    }

    .schedule {
      width: 70%;
      margin: 80px auto 0;

      i.fa {
        float: left;
        width: 30px;
        height: 40px;
        padding-top: 3px;
        font-size: 1.7em;
      }

      p {
        font-size: 1.2em;
        line-height: 1.6em;
        margin-bottom: 20px;
      }
    }
  }
}

section.infos {
  overflow: auto;
  margin-top: 60px;

  h3 {
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #ff3333;
  }

  p {
    font-size: 1.3em;
    line-height: 1.9em;
  }

  article.about-group {
    width: 60%;
    float: left;
    padding: 0 20px;

    p {
      width: 95%;
    }
  }

  aside.about-meetings {
    width: 40%;
    padding:40px 30px 40px;
    float: left;
    background: #fff;
    border-bottom: 2px solid #e8e8e8;
    border-radius: 3px;

    p {
      color: #747474;
      font-size: 1.2em;
    }

    a.b {
      text-align: center;
      display: block;
      width: 90%;
      margin: 30px auto 0;
      padding: 13px 0;
    }
  }
}

.avatars {
  margin-top: 70px;
  background: url("/img/galera.png");
  height: 290px;
  border-top: 5px solid #e8e8e8;
  border-bottom: 5px solid #e8e8e8;
}

section.meetings{
  overflow: auto;
  margin-top: 60px;
  padding-bottom: 100px;

  h3 {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #ff3333;
  }

  article.last-meetings {
    padding: 30px 0 20px;
    float: left;
    width: 60%;

    ul {
      margin-top: 40px;

      li {
        margin-bottom: 80px;

        h4 {
          margin-bottom: 20px;
          font-size: 1.5em;
          font-weight: 600;
          letter-spacing: 0.02em;
        }

        p {
          font-size: 1.3em;
          line-height: 1.9em;
          width: 85%;
        }
      }
    }
  }

  aside.next-meetings {
    float: left;
    width: 40%;
    padding:40px 30px 40px;
    background: #fff;
    border-bottom: 2px solid #e8e8e8;
    border-radius: 3px;

    ul {
      margin-top: 40px;

      li {
        padding: 30px 0 20px;
        border-bottom: 1px dashed #e8e8e8;

        i.fa {
          float: left;
          font-size: 1.5em;
          width: 35px;
          height: 30px;
          color: #d1d1d1;
        }

        p {
          margin-bottom: 15px;
          color: #747474;
          font-size: 1.15em;
        }
      }

      li:first-child {padding-top: 0;}
      li:last-child {border-bottom:none;}
    }
  }
}


footer {
  padding: 50px 0 20px;
  overflow: auto;
  background: #fff;
  border-top: 1px solid #e8e8e8;
  font-size: 1em;

  a { color: #ff3333; }

  .copy {
    width: 50%;
    float: left;
  }

  .support {
    width: 50%;
    float: left;
    text-align: right;
    margin-top: -10px;

    img { margin-right: 50px; }
    p { margin-top: 10px; }
  }
}
