@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Tauri|ABeeZee:400,400italic|Nunito:400,300,700|Scada:400italic,700italic,400,700|Actor|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Reset */

body, h1, h2, h3, h4,
form, fieldset, input, label, p,
em, strong, a, img, ul, li {
  vertical-align: baseline;
  font-style: normal;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}

header, footer, aside,
nav, article, section { display:block; }

html { font-size: 62.5%; }


/* Generic */

body {
  background: #f3f3f3;
  vertical-align: baseline;
  font-size: 14px;
  color: rgb(71, 60, 60);
  font-family: 'Tauri', sans-serif;
  font-family: 'ABeeZee', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

p { margin:0 0 20px 0; }
label { cursor:pointer; }
img { border:none; }

a { color: red; }
span.red { color: #b20000; }





/* ====================*/

.wrap {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

header {
  background: #fff;
  height: 100px;
  border-top: 1px solid #efefef;

  nav {
    float: right;
    width: 200px;
    margin-top: 30px;
    text-align: right;
  }
}


section.hero {
  overflow: auto;
  margin-top: 40px;
  color: #fff;
  background: #ff3333;

  article {
    padding: 40px;
    height: 280px;
  }

  article.intro-about {
    width: 60%;
    float: left;
  }

  article.next-meetup {
    width: 40%;
    float: left;
    background: #f32929;
  }
}

section.infos {
  overflow: auto;
  margin-top: 60px;

  article {
    padding: 20px;

    h3 {
      color: #f32929;
      margin-bottom: 20px;
      font-size: 1.8em;
    }

    p {
      font-size: 1.2em;
      line-height: 1.8em;
    }
  }

  article.about-us {
    width: 60%;
    float: left;
  }

  article.last-meetup {
    width: 40%;
    padding: 40px;
    float: left;
  }
}

button {
  background: #ff3333;
  color: #fff;
  border: none;
  padding: 10px 30px;
}

section.avatars {
  background: url("/img/galera.png");
  height: 344px;
  margin-top: 60px;

  h4 {
    text-align: center;
    color: rgba(243, 41, 41, 0.8);
    padding-top: 100px;
    font-size: 3.6em;
    font-weight: 900;
    width: 80%;
    margin: auto;
  }
}

section.others-meetups {
  margin-top: 100px;
  overflow: auto;

  article {
    width: 50%;
    float: left;

    h3 {
      color: #f32929;
      margin-bottom: 20px;
      font-size: 1.8em;
    }

    p {
      font-size: 1.2em;
      line-height: 1.8em;
    }

    ul {
      li {
        margin-bottom: 30px;
        background: rgba(243, 41, 41, 0.05);
        padding: 20px;
      }
    }
  }

  article.last-posts {
    padding: 0 20px 0 0;
    width: 60%;
  }

  article.next-posts {
    padding: 0  0 0 20px;
    width: 40%;
  }
}

