@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Tauri|ABeeZee:400,400italic|Nunito:400,300,700|Scada:400italic,700italic,400,700|Actor|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

/* Reset */

body, h1, h2, h3, h4,
form, fieldset, input, label, p,
em, strong, a, img, ul, li {
  vertical-align: baseline;
  font-style: normal;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}

header, footer, aside,
nav, article, section { display:block; }

html { font-size: 62.5%; }


/* Generic */

body {
  background: #f3f3f3;
  vertical-align: baseline;
  font-size: 14px;
  color: rgb(71, 60, 60);
  font-family: 'Tauri', sans-serif;
  font-family: 'ABeeZee', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

p { margin:0 0 20px 0; }
label { cursor:pointer; }
img { border:none; }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 { font-family: 'Lato', sans-serif; }

a { color: red; }
span.red { color: #b20000; }





/* ====================*/

header {
  background: #fff;
  height: 100px;
}
