---
layout: default
title: Ruby on Rio

event_address: 'DTM: Travessa do Ouvidor, 17 - 501'
event_hours: '19h - 22h'
next_event:
    day: Segunda-feira, 11 de Abril de 2016
future_events:
  -
    day: Segunda-feira, 9 de Maio de 2016
---

<div class="containner">
  <div class="hero">
    <section class="intro">
      <h2>Bem vindo ao site <br>do grupo Ruby on Rio.</h2>
    </section>

    <article class="next-meetup">
      <div class="title"><h2>Próximo Encontro</h2></div>
      <div class="schedule">
        <i class="fa fa-calendar-o"></i>
        <p>{{ page.next_event.day }}</p>
        <i class="fa fa-clock-o"></i>
        <p>{{ page.event_hours }}<p>
        <i class="fa fa-map-marker"></i>
        <p>{{ page.event_address }}</p>
      </div>
    </article>
  </div>
</div>

<div class="containner">
  <section class="infos">
    <article class="about-group">
      <h3>Sobre o Grupo</h3>
      <br>
      <p>
        O Ruby on Rio é o grupo de usuários de Ruby do Rio de Janeiro. O grupo nasceu como forma de unir desenvolvedores e pessoas interessadas na linguagem de programação Ruby.
      </p>
      <p>
        No grupo falamos sobre Ruby, Rails e outras tecnologias relacionadas. O grupo funciona como um meio para aproximar pessoas promovendo troca de conhecimento, seja para aprender ou ensinar Ruby e seu vasto ecossistema de frameworks, bibliotecas e aplicações.
      </p>
      <br>
    </article>

    <aside class="about-meetings">
      <p>Realizamos encontros presencias mensalmente. Nesses encontros, fazemos apresentações, codificamos aplicações e projetos open source, regamos a muito bate papo sobre Ruby e outras tecnologias.</p>
      <p>Para acompanhar o que acontece na Ruby on Rio,</p>
      <a class="b" href="https://groups.google.com/forum/#!forum/rubyonrio" target="_blank">Faça parte da lista de discussão</a>
    </aside>
  </section>
</div>

<div class="avatars"></div>

<div class="containner">
  <section class="meetings">
    <article class="last-meetings">
      <h3>Sobre os encontros</h3>
      <ul>
        {% for post in site.posts %}
          <li>
            <h4>{{ post.title }}</h4>
            <p>
              {{ post.excerpt }}
            </p>
            <br>
            <a class="b" href="{{ post.url }}">Saiba Mais</a>
          </li>
        {% endfor %}
      </ul>
    </article>

    <aside class="next-meetings">
      <h3>Encontros Futuros</h3>
      <ul>
        {% for event in page.future_events limit:3 %}
        <li>
          <i class="fa fa-calendar-o"></i>
          <p>{{ event.day }}</p>
          <i class="fa fa-clock-o"></i>
          <p>{{ page.event_hours }}<p>
          <i class="fa fa-map-marker"></i>
          <p>{{ page.event_address }}</p>
        </li>
        {% endfor %}
      </ul>
    </aside>
  </section>
</div>
